<div *ngIf="current_weather_data$ | async; let data">
    <h2>Your weather for {{ data.location.name }}, {{ data.location.region }}</h2>
    
    <div class="card shadow mt-5">
        <div class="overview-widget card-header">
            <h3 class="card-title">
                Now {{ data.current.temp_f }}&#176;F
            </h3>
            <h6 class="card-subtitle">
                <img [attr.src]="data.current.condition.icon"/>
                <span>{{ data.current.condition.text }}</span>
            </h6>
            
        </div>

        <div class="card-body">
            <div class="threeday-overview">
                <div class="threeday-forecast-head">
                    <h4 class="card-title">
                        <img class="icon" src="assets/sun-and-moon.png"/> Next 3 Days
                    </h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let d of data.forecast.forecastday">
                        <h4>
                            <img [attr.src]="d.day.condition.icon"/> {{ d.date | date }}
                        </h4>
                        <p class="flex">
                            <span class="btn btn-outline-danger temperature-badge shadow" *ngIf="d.day.maxtemp_f > 90">
                                <img class="icon" src="assets/temp.png"/> {{ d.day.maxtemp_f }}&#176;F
                            </span>
                            <span class="btn btn-outline-warning temperature-badge shadow" *ngIf="d.day.maxtemp_f < 90 && d.day.maxtemp_f >= 75">
                                <img class="icon" src="assets/temp.png"/> {{ d.day.maxtemp_f }}&#176;F
                            </span>
                            <span class="btn btn-outline-success temperature-badge shadow" *ngIf="d.day.maxtemp_f < 75">
                                <img class="icon" src="assets/temp.png"/> {{ d.day.maxtemp_f }}&#176;F
                            </span>&nbsp;
                            
                            <span class="btn btn-outline-success temperature-badge shadow" *ngIf="d.day.mintemp_f >= 70">
                                <img class="icon" src="assets/temp.png"/> {{ d.day.mintemp_f }}&#176;F&nbsp;
                            </span>
                            <span class="btn btn-outline-primary temperature-badge shadow" *ngIf="d.day.mintemp_f < 70">
                                <img class="icon" src="assets/temp.png"/> {{ d.day.mintemp_f }}&#176;F&nbsp;
                            </span>&nbsp;

                            <span class="btn btn-outline-info temperature-badge shadow"><img class="icon" src="assets/humidity.png"/> {{ d.day.avghumidity }}%</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card-footer container text-center">
            <div class="row justify-content-center">
                <div class="col">
                    <p>Low Temps</p>
                    <div class="btn btn-outline-danger temperature-badge shadow-sm">
                        <img class="icon" src="assets/temp.png"/> + 90&#176;F
                    </div>&nbsp;
                    <div class="btn btn-outline-warning temperature-badge shadow-sm">
                        <img class="icon" src="assets/temp.png"/> 75 - 89&#176;F
                    </div>&nbsp;
                    <div class="btn btn-outline-info temperature-badge shadow-sm">
                        <img class="icon" src="assets/temp.png"/> < 75&#176;F
                    </div>
                </div>
                <div class="col">
                    <p>High Temps</p>
                    <div class="btn btn-outline-danger temperature-badge shadow-sm">
                        <img class="icon" src="assets/temp.png"/> + 70&#176;F
                    </div>&nbsp;
                    <div class="btn btn-outline-info temperature-badge shadow-sm">
                        <img class="icon" src="assets/temp.png"/> < 70&#176;F
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    